@import "./../styles/reset.scss";
@import "./../styles/variables.scss";

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}

h2 {
  margin-bottom: 25px;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
}
